body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}


.main_panel {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    background: #FFB672;

}

.authorization_form, .registration_form {
    margin: 0 1.5% 24px 1.5%;
}


.authorization_form {
    order: 1;
    float: right;
    display: inline-block;
    margin-top: 4%;
    margin-right: 60px;
    padding-top: 40px;
    width: 26%;
    height: 25%;
    background: #FFE1C6;
}

.registration_form {
    order: 2;
    float: right;
    display: inline-block;
    margin-top: 2%;
    margin-right: 60px;
    background: #FFE1C6;
    width: 26%;
    height: 45%;
    right: 4%;
    top: 40%
}

.login {
    margin: 0 3.5% 5% 3.5%;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    border: None;
    width: 93%;
    height: 46px;
    background: white;
}

.registration {
    margin: 0 3.5% 5% 3.5%;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    border: None;
    width: 93%;
    height: 46px;
    background: white;

}

input[type="text"] {
    text-align: center;
    text-decoration: None;
    color: #845E3B;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

input[type="text"]::placeholder {
    color: #845E3B;
}

#registration_button:hover {
    box-shadow: 0 0 20px 0 #FFB672;
    transition: 0.5s;
}

#forgot_button {
    border: None;
    color: #845E3B;
    background: None;
    width: 50%;
    height: 44px;
    font-size: 36px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    outline: None;
}

#login_button {
    margin: 0 4% 0 4%;
    padding: 10px 20px;
    border: None;
    color: white;
    background: #FFB672;
    width: 38%;
    height: 44px;
    font-size: 36px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    outline: None;
}

#login_button:hover {
    box-shadow: 0 0 20px 0 #FFB672;
    transition: 0.5s;
}

#registration_button {
    margin: 3.5% 5% 0 3.5%;
    padding: 10px 20px;
    border: None;
    color: white;
    background: #FFB672;
    width: 93%;
    font-size: 36px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    height: 47px;
    outline: None;
}

input:focus::-webkit-input-placeholder { color: white; transition: 0.5s }
input:focus:-moz-placeholder { color: white; transition: 0.5s }
input:focus::-moz-placeholder { color: white; transition: 0.5s }
input:focus:-ms-input-placeholder { color: white; transition: 0.5s }

input[type="text"]:focus, input[type="text"]:hover {
    outline: None;
    outline-offset: 0;
    box-shadow: 0 0 20px 0 #FFB672;
    transition: 1s;
}

.Upper {
    margin-top: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
    color: #845E3B;
}

.cat {
    color: #845E3B;
    position: absolute;
    width: 40%;
    height: 88.5%;
    right: 40%;
    bottom: 7%;
}

@media (max-width: 1700px) {
    #registration_button, #login_button, #forgot_button {
        font-size: 28px;
    }

    #forgot_button {
        width: 30%;
    }
}

@media (max-width: 1200px) {
    #registration_button {
        height: 20%;
    }
}

@media (max-height: 790px) {
    .main_panel {
        align-items: flex-start;
        flex-direction: row;
        justify-content: flex-end;
    }
    .registration_form, .authorization_form {
        margin-top: 2%;
    }

    .authorization_form {
        height: 30%;
    }

    .registration_form {
        height: 50%;
    }
}

@media (max-height: 700px) {
    .main_panel {
        align-items: flex-start;
        flex-direction: row;
        justify-content: flex-end;
    }
    .registration_form, .authorization_form {
        margin-top: 2%;
    }

    .authorization_form {
        height: 207px;
    }

    .registration_form {
        height: 345px;
    }
}

@media (max-width: 1100px) {
    .registration_form, .authorization_form {
        width: 100%;
        margin: 0;
    }

    .authorization_form {
        height: 40%;
        margin-bottom: 15%;
        margin-top: 2%;
    }

    .main_panel {
        align-items: center;
    }
}

@media (max-height: 790px) {
    .authorization_form {
        height: 250px;
    }

    .registration_form {
        height: 394px;
    }
}
