{% extends "base.html"%}

{% block content %}
    {% if empty %}
        <p>Очень жаль, но у вас слишком мало друзей, чтобы добавить в чат ещё(((</p>
    {% else %}
        <div class="form-group">
            <div id="selectors_container">
            </div>
            <button id="add_friend">Add friend</button>
        </div>
        <button class="btn btn-primary mb-2" id="submit_add">Confirm</button>
    {% endif %}
    <script>
        $(document).ready(function(){
            let sel_count = 0;
            let friends_data = new Array();
            {% for friend in friends %}
                friends_data[{{ loop.index - 1 }}] = [{{ friend[0] }}, "{{ friend[1] }}"];
            {% endfor %}
            $("#add_friend").on('click', function(){
                $("#add_friend").hide();
                $("#selectors_container").append(`<div class='mb-2' id='selector_container_${++sel_count}'><select class='form_control friends_select n${sel_count}' name='user_id'><option>-</option></select></div>`);
                let friends_selector = $(`.n${sel_count}`);
                for(let elem of friends_data){
                    friends_selector.append("<option value='" + elem[0] + "'>" + elem[1] + "</option>");
                }
                friends_selector.on('change', function(){
                    for(let elem in friends_data){
                        if(friends_data[elem][0] == $(".friends_select option:selected").val()) {
                            friends_data.splice(elem, 1);
                            break;
                        }
                    }
                    $("#selector_container_" + sel_count).html(`<button class='data_btn' id='delete_friend_${sel_count}' value='${$(".friends_select option:selected").val()}'>${$(".friends_select option:selected").text()}</button>`);
                    if(friends_data.length > 0) $("#add_friend").show();
                    $("#delete_friend_" + sel_count).on('click', data=sel_count, function(event){
                        friends_data.push([$("#delete_friend_" + event.data).val(), $("#delete_friend_" + event.data).text()]);
                        $("#selector_container_" + event.data).remove();
                        if(friends_data.length > 0) $("#add_friend").show();
                    });
                });
            });

            $("#submit_add").on('click', function(){
                let friends_ids = new Array();
                $(".data_btn").each(function(){friends_ids.push($(this).val())});
                $.ajax('/add_user/{{ chat_id }}', {
                    data: {user_ids: friends_ids},
                    type: 'post',
                    success: function(data){
                        if(data.success) {
                            window.location.replace("/chat/{{ chat_id }}");
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}