<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@469&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#FFD08A">
<div class="main_panel">
    <form class="authorization_form">
        <input type="text" for="email" placeholder="Email" class="login">
        <input type="text" for="password" placeholder="Пароль" class="login">
        <button id="login_button">Войти</button>
        <button id="forgot_button">Забыли пароль?</button>
    </form>
    <form class="registration_form">
        <h1 class="Upper">Регистрация</h1>
        <input type="text" for="name" placeholder="Имя" class="registration">
        <input type="text" for="secondname" placeholder="Фамилия" class="registration">
        <button id="registration_button">Продолжить регистрацию</button>
    </form>
</div>
</body>
</html>
