{% extends "base.html" %}

{% block content %}

<h1>{{ chat.name }}</h1>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div id="members"><h1>Участникик чата</h1>
                {% for member in members %}
                    <a class="btn btn-primary" href="{{ url_for('user_page', user_id=member[0]) }}">{{ member[1] }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm">
            <div id="messages_box">
                <div id="messages">
                </div>
                <div id="send_message">
                    <input id="chat_id" type="hidden" value={{ chat.id }}>
                    <input type="text" id="text_input" placeholder="ПИШИ ТУТ!!!">
                    <input id="submit" type="submit">
                </div>
                <button id="previous">Previous page</button>
                <button id="next">Next page</button>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/chat.js', v=35) }}"></script>
{% endblock %}