{% extends "base.html" %}

{% block content %}

<h1>{{ chat.name }}</h1>
<div id="messages_box">
	<div id="messages">
	</div>
</div>
<form id="send_message" novalidate method="post" enctype = "multipart/form-data">
    <input id="chat_id" type="hidden" value={{ chat.id }}>
    <input type="text" id="text_input" placeholder="ПИШИ ТУТ!!!">
    <input type="submit">
</form>
<button id="previous">Previous page</button>
<button id="next">Next page</button>
<script src="{{ url_for('static', filename='js/chat.js', v=15) }}"></script>
{% endblock %}